/* --------------------------- */
/* Global Definitions: */

:root {
    --g-0: red; 
    --g-1: #009DDE; 
    --g-2: #FAAB00; 

    --g--0: #FFB2BA; 
    --g--1: #A2C4DE; 
    --g--2: #FFF0C0; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    background: #f1f1f1;
	margin: 0;
	padding: 0;
}

h2 {
    font-size: 18px;
	padding: 0px;
	border: 1px solid red;
}

input, select, option {
    font-size: 14px;
	padding: 0px 4px;
}

input[type=text], input[type=password] {
	border: 1px solid lightgrey;
	height: 26px;
}

button, input[type=submit], input[type=button] {
	height: 24px;
    font-size: 14px;
	border: 1px solid black;
	color: white;
	border-radius: 6px;  
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
}

button:disabled, input[type=submit]:disabled, input[type=button]:disabled {
	background: darkgrey;
}

input[type=text] {
    width: 240px;
}

textarea {
	border: 1px solid lightgrey;
	padding: 2px 4px;
    height: 48px;
    font-size: 14px;
    width: 494px;
}

.button-red {
	background-color: red;	
}

.button-green {
	background-color: green;	
}

.button-black {
	background-color: black;
}

.button-blue {
	background-color: blue;	
}

.button-yellow {
	background-color: #FFD479;	
	color: black;
}

button:active, input[type=submit]:active {
	background-color: #009DDE;
}

/* --------------------------- */
/* Layout Items: */

/* Include padding and border in the element's total width and height */
.header {
    background-color: white;
    padding: 10px 15px;
	height: 50px;
    text-align: center;
    vertical-align: top;
    font-size: 40px;
	line-height: 50px;
    font-weight: normal;
}

.header img {
    float: left;
	height: 50px;
	width: auto;
}

.header_name {
    float: right;
	font-size: 20px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #009DDE;
    font-size: 18px;
}

.topnav table {
	border-collapse: collapse;
	width: 100%;
	border: 0;
}

.topnav td {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.menu-item {
	padding: 8px 16px;
}

.menu-item:hover {
    color: black;
    background-color: #C3E5F8;
}

.topnav td[selected] {
    background-color: #f1f1f1;
    color: black;
    border: 1px solid black;
    border-bottom: 1px solid #f1f1f1;
}

.breadcrumb {
	padding: 10px;
    font-size: 20px;
}

.row {
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Clear floats after the columns */
.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.left-panel {
	padding: 0px 10px;
}

/* --------------------------- */
/* Message Boxes: */

.message-box {
	padding: 5px;
	background-color: white;
	/*border-radius: 6px;*/
    font-size: 14px;
    margin-top: 5px;
}

.error-box {
	border:1px solid red;
	color:red;
}

.warning-box {
	border: 1px solid orange;
	color: orange;
}

.info-box {
	border: 1px solid teal;
	color: teal;
}

.success-box {
	border: 1px solid green;
	color: green;
}

/* --------------------------- */
/* Details Table: */

.details-table {
	text-align: left;
	border: 1px solid black;
	border-collapse: collapse;
}

.details-table th {
	padding: 5px 5px; 
	background-color: black;
	color: white; 
	font-weight: bold;
	white-space: nowrap;
}

.details-table td {
	padding: 5px 5px; 
}

.details-table tr:nth-child(even) {
	background: #C3E5F8;
}

.details-table a {
    color: black;
    text-decoration: none;
}

.details-table a:hover {
    text-decoration: underline;
}

.pagination-div {
    margin: 4px 0px 4px 0px;
}

.pagination-div a {
    color: white;
    font-size: 14px;
    text-decoration: none;
	background-color: black;
	padding: 2px 6px 2px 6px;
	border: 1px solid black;
	border-radius: 5px;
}

.pagination-div a:hover {
	background-color: #009DDE;
}

.pagination-div a[selected] {
	background-color: #009DDE;
}

/* --------------------------- */
/* Input Table: */

.input-table {
	border-collapse:collapse;
}

.input-table th {
	text-align: right;
	font-weight: bold;
}

.input-table th {
	padding: 4px 3px; 
}

.input-table td {
	padding: 4px 0px; 
}

.input-table .button-row {
	text-align:right;
}

.no-wrap-table td {
	white-space: nowrap;
}

/* --------------------------- */
/* Scrollable Table: */

table.scrollable-table thead {
	display: block;
}

table.scrollable-table tbody {
	display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

/* --------------------------- */
/* Custom Checkboxes: */

/* Main Classes */
.check-box:before {
    position: relative;
    display: block;
    /* This adjustment centers the checkbox around the original box! */
    left: -4px;
    top: -4px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #797979; /*steel*/
    content: "";
    background-color: white;
}

.check-box:not(:disabled):hover:before {
	background-color: #EBEBEB; /* mercury*/
}

.check-box:checked:before {
	background-color: white; /* #EBEBEB mercury*/
}

.check-box:checked:after {
    position: relative;
    display: block;
    /* This adjustment centers check mark in the box above */
    left: 3px;
    top: -22px;

    width: 5px;
    height: 10px;
    content: "";

	border: solid black;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.check-box:disabled:before {
	border-color: silver;
}

.check-box:disabled:after {
	border-color: silver;
}

.check-box.g-0:not(:disabled):before {
	border-color: var(--g-0);
}

.check-box.g-0:checked:not(:disabled):after {
	border-color: var(--g-0);
}

.check-box.g-1:not(:disabled):before {
	border-color: var(--g-1);
}

.check-box.g-1:checked:not(:disabled):after {
    content: "";
	border-color: var(--g-1);
}

.check-box.g-2:not(:disabled):before {
	border-color: var(--g-2);
}

.check-box.g-2:checked:not(:disabled):after {
	border-color: var(--g-2);
}

/* --------------------------- */
/* Groups: */

.group {
	display: inline-block;
	border: 1px solid black;
	/*width: 100px;*/
	/*height: 28px;*/
	padding: 4px 4px 0px 4px;
	color: white;
	/*font-size: 20px;*/
}

.group.g-0 {
	background-color: var(--g-0);
}

.group.g-1 {
	background-color: var(--g-1);
}

.group.g-2 {
	background-color: var(--g-2);
}

.group-number {
	display: inline-block;
	width: 22px;
	height: 22px;
    border-radius: 11px;
	text-align: center;
	border: 1px solid black;
	color: black;
	font-size: 20px;
}

.g-0 .group-number {
	background-color: var(--g--0);
}

.g-1 .group-number {
	background-color: var(--g--1);
}

.g-2 .group-number {
	background-color: var(--g--2);
}

.group-add {
	display: inline-block;
	border: 1px solid black;
	width: 100px;
	height: 28px;
	padding: 4px 4px 0px 4px;
	background-color: darkgrey;
	color: black;
	font-size: 20px;
	text-align: center;
}

.g--0 {
	background-color: var(--g--0);
}

.g--1 {
	background-color: var(--g--1);
}

.g--2 {
	background-color: var(--g--2);
}

/* --------------------------- */
/* Group listings: */

.group-header {
	border-bottom: 1px solid #dddddd;
	padding: 4px 0px;
}

/* --------------------------- */
/* Staff schedule: */

.schedule-table {
  border-collapse: collapse;
  width: 100%;
}

.schedule-table th {
	text-align: center;
}

.schedule-table td {
	white-space: nowrap;
	border-top: 1px solid #dddddd;
	text-align: center;
	padding: 4px;
	min-width: 120px;
}

.schedule-table .row-header {
	text-align: right;
	white-space: nowrap;
	width: 100px;
	font-weight: bold;
	padding: 4px 0px;
}

/* --------------------------- */
/* Participants: */

.participant-table td:nth-child(2) {
	min-width: 120px;
}

.participant-table td:nth-child(3) {
	min-width: 120px;
}

.participant-tabs {
    background-color: #C3E5F8;
    color: black;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid black;
    margin-bottom: 4px;
}

.participant-tabs.active {
    background-color: #009DDE;
    color: white;
}

.participant-tabs:hover, .participant-tabs:active {
    background-color: #009DDE;
    color: white;
}

.white-box {
	display: inline-block;
	background-color: white;
	border: 1px solid darkgrey;
	height: 24px;
	width: 100px;
	line-height: 24px;
	text-align: center;
	color: black;
}

.green-box {
	display: inline-block;
	background-color: #ADFFA1;
	border: 1px solid darkgreen;
	height: 24px;
	width: 120px;
	line-height: 24px;
	text-align: center;
	color: black;
}

.yellow-box {
	display: inline-block;
	background-color: #FFD479;
	border: 1px solid orange;
	height: 24px;
	width: 120px;
	line-height: 24px;
	text-align: center;
	color: black;
}

.red-box {
	display: inline-block;
	background-color: #FFB7BC;
	border: 1px solid darkred;
	height: 24px;
	width: 120px;
	line-height: 24px;
	text-align: center;
	color: black;
}

.blue-box {
	display: inline-block;
	background-color: #9AC5FF;
	border: 1px solid blue;
	height: 24px;
	width: 120px;
	line-height: 24px;
	text-align: center;
	color: black;
}

#update_participant tr th:first-child {
	width: 112px;
}

.button-white.wc {
	background-color: white;
	width: 60px;
	height: 40px;
	font-size: 20px;
	color: black;
}

.button-red.register {
	background-color: red;
	width: 200px;
	height: 40px;
	font-size: 20px;
}

.button-green.register {
	background-color: green;	
	width: 200px;
	height: 40px;
	font-size: 20px;
}

.button-yellow.register {
	background-color: #FFD479;	
	color: black;
	width: 200px;
	height: 40px;
	font-size: 20px;
}

.strike-thru {
	text-decoration: line-through;
}

.history-table {
	margin-right: 5px;
	min-width: 640px;
}

.history-table td:nth-child(1) {
	white-space: nowrap;
}

.history-table td:nth-child(2) {
	white-space: nowrap;
}

.history-table th:last-child {
	min-width: 180px;
    width: 100%;
}

.history-table td:last-child {
	min-width: 180px;
    width: 100%;
}

.member-table {
	margin-right: 5px;
	min-width: 640px;
}

.output-table td {
	padding: 3px 0px 3px 2px; 
}

.output-table th {
	text-align: right;
	vertical-align: top;
	padding: 3px 0px; 
}

.printable-table {
	text-align: left;
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}

.printable-table th {
	padding: 5px 5px; 
	text-align: left;
	background-color: white;
	color: black; 
	font-weight: bold;
	white-space: nowrap;
}

.printable-table td {
	padding: 5px; 
}

.printable-table tr:nth-child(odd) {
	background: lightgrey;
}


